---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


body {
    font-size: 22px; 
}

.home .post-excerpt {
    font-size: 18px;
}

.cv-content {
    font-size: 16px;
}

.research-content {
    font-size: 16px;
}

.author__avatar {
    border-radius: 0; /* Makes it a square */
}

h2 a {
    font-size: 20px;
}

/* Remove right sidebar space from archive layout */
.archive {
    @media (min-width: 64em) {
        width: 100% !important;
        padding-inline-end: 0 !important;
    }
}

.archive .grid__wrapper {
    @media (min-width: 64em) {
        margin-inline-end: 0 !important;
    }
}